@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");

body {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(
		117.84deg,
		rgba(128, 0, 255, 0.4) 4.45%,
		#8000ff 95.12%
	);
	color: white;
	/*font-family: 'Lemon';*/
}
